.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.contact {
  width: 400px;
  align-items: center;
  text-align: center;
}

.box {
  width: 350px;
  height: 350px;  
  box-shadow: 0px 0px 15px 1px;
  margin: auto;
  text-align: left;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.name {
  display: flex;
  flex-direction: row;
}

.name input {
  width: 95%;
  height: 40px;
  border-color: rgb(214, 214, 214);
  border-style: groove;
}

input, textarea{
  width: 97%;
  height: 40px;
  border-color: rgb(214, 214, 214);
  border-style: groove;
}

button {
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  height: 40px;
}

.contactpage {
  text-align: center;
  align-items: center;
}

.ContactUs {
  display: flex;
  flex-direction: row;
  column-gap: 180px;
}

.ContactUs img{
  width: 100px;
  height: 100px;
}

.btn {
  width: 280px;
}

.phone {
  width: 290px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.query {
  width: 290px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.faq {
  width: 290px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.faqlist h1 {
  text-align: center;
}

.faqlist {
  width: 80%;
}

.q {
  font-weight: 600;
}

.faqbox {
  border-style: double;
  border-color: #000000;
  border-radius: 15px;
  border-width: 8px;
}

fieldset {
  background-color: rgb(197, 196, 196);
  border-style: double;
  border-radius: 15px;
  margin: 10px;
  border-color: #000000;
}