@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.contact-page {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.contact {
    background: url("./contact.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    min-height: 75vh;

    font-family: "Poppins";
    color: black;
    padding: 10px;
    margin-top: -10px;
    z-index: 2;
}

.contact .box {
    width: 350px;
    min-height: 50vh;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    text-align: left;
    padding: 15px;
}

.contact-header-text,
.contact .box {
    animation: fade-in 2s ease;
}

.contact .box form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.contact .box .name {
    display: flex;
    flex-direction: row;
}

.contact .box .name input {
    width: 95%;
    padding: 5px;
    border-color: rgb(214, 214, 214);
    border-style: groove;
}

.contact .box input,
.contact .box textarea {
    width: 97%;
    padding: 5px;
    border-color: rgb(214, 214, 214);
    border-style: groove;
}

.contact .box button {
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-spacer {
    aspect-ratio: 960/100;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-layer-1 {
    aspect-ratio: 960/100;
    background-image: url("./layered-waves-haikei-top.svg");
    background-position: center;
}

.contact-layer-2 {
    background-image: url("./layered-waves-haikei-bottom.svg");
    background-position: bottom;
    position: absolute;
    top: 95vh;
    min-height: 30vh;
    z-index: -1;
}
